server:
  port: 8081

spring:
  application:
    name: book-service

  datasource:
    url: jdbc:postgresql://localhost:5432/book_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
